@media screen and (max-width: 768px){
	#wrapp{
		width: 100%;
		height: 100%;
	}
	.header, .header img{
		height: 400px;
	}
	.menu{
		display: none;
	}
	.dropdown{
		height: 50px;
		width: 50px;
		float: right;
		margin-right: 100px;
		display: block;
	}
	.dropdown img{
		width: 100%;
		height: 100%;
	}
	.logobar img{
		margin-left: 50px;
		height: 60px;
	}
	.htext{
		top: 110px;
		font-size: 35px;
	}
	.header hr{
		top: 180px;
	}
	.text{
		width: 50%;
		top: 210px;
		font-size: 16px;
		left: 25%;
	}
	.boxes{
		height: 380px;
	}
	.box{
		height: 380px;
	}
	.box img{
		height: 33px;
		margin-top: 30px;
	}
	.box p{
		margin-top: 15px;
	}
	.box hr{
		margin-top: 20px;
	}
	.boxinfo{
		line-height: 22px;
		font-size: 15px;
	}
	.work{
		height: 460px;
	}
	.p1{
		margin-top: 60px;
	}
	.p2{
		font-size: 35px;
		margin-top: 30px;
	}
	.hr{
		margin-top: 30px;
	}
	.p3{
		width: 70%;
		margin-left: 15%;
		font-size: 17px;
	}
	.frontend{
		margin-top: 50px;
	}
	.p4, .p5{
		margin-left: 50px;
		font-size: 18px;
	}
	.p5{
		height: 50px;
		width: 60%;
		font-size: 16px;
	}
	.apply{
		margin-right: 50px;
		width: 120px;
		height: 35px;
	}
	.htmlskill{
		margin-left: 50px;
	}
	.skills{
		width: 95px;
		height: 25px;
		line-height: 25px;
	}
	.designer{
		height: 270px;
	}
	.more{
		width: 22%;
		margin-top: 50px;
		margin-left: 39%;
		font-size: 12px;
	}
	.p3second{
		margin-left: 50px;
		width: 87%;
		font-size: 16px;
	}
	.social{
		height: 250px;
	}
	.fb{
		height: 50px;
		width: 20%;
		margin-left: 40%;
	}
	.boxdark{
		height: 380px;
	}
	.boxdark .city{
		width: 50%;
		margin-left: 50px;
		margin-top: 100px;
		font-size: 15px;
	}
	.address{
		margin-left: 50px;
		width: 80%;
		font-size: 14px;
	}
	.footer{
		height: 60px;
	}
	.copy{
		height: 60px;
		width: 45%;
		line-height: 60px;
		margin-left: 50px;
		font-size: 11px;
	}
	.footer img{
		width: 25px;
		height: 25px;
	}
	.in{
		margin-top: 15px;
		margin-left: 80px;
	}
	.twitter{
		margin-top: 15px;
		margin-left: 10px;
	}
	.web{
		width: 20%;
		height: 60px;
		line-height: 60px;
		margin-right: 50px;
		font-size: 14px;
	}
	.dropmenu{
		position: absolute;
		width: 100%;
		height: 330px;
		left: 0;
		top: 70px;
		background-color: #222222;
		display: none;
		opacity: .9;
	}
	.dropmenu li{
		display: block;
		width: 100%;
		height: 50px;
		line-height: 50px;
		text-align: center;
	}
	.about{
		margin-top: 50px;
	}
	.dropmenu li a{
		text-decoration: none;
		color: #f2eee3;
		font-family: Geneva, Tahoma, Verdana, sans-serif;
	}
	.follow{
		width: 100%;
		height: 40px;
		margin-top: 50px;
	}
	.follow p{
		width: 20%;
		height: 40px;
		line-height: 40px;
		float: left;
		margin-left: 50px;
		color: #f2eee3;
		font-family: Geneva, Tahoma, Verdana, sans-serif;
		letter-spacing: 3px;
	}
	.menupng{
		width: 100px;
		height: 50px;
		float: right;
		margin-right: 50px;
	}
	.menupng img{
		width: 40px;
		height: 40px;
		margin-left: 10px;
		float: left;
	}
}